@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Oxanium&family=Material+Icons&display=swap');

:root {
    font-family: 'Oxanium', 'Kosugi Maru', cursive;
}

body {
    background-color: rgb(59, 59, 66);
    color: white;
}

main {
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;

    color: white;
}

.button.connect {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(29, 50, 72);
    border-radius: 4px;
    height: 4em;
    width: 16em;
    font-size: 1.2rem;

    background-color: rgb(0, 189, 163);
    font-weight: 900;
    color: rgb(67, 3, 77);
}

.button.connect:hover {
    background-color: rgb(196, 124, 124);
    color: rgb(0, 0, 5);
    justify-content: space-evenly;
}

.spacer {
    height: 4em;
}
