<header>
    <a href="/"><span>Top</span></a>
    <a href="likes"><span>Likes</span></a>
    <a href="bookmarks"><span>Bookmarks</span></a>
    <div></div>
    <a href="https://twitter.com/miso_nomi" target="_blank"><span>苦情窓口</span></a>
</header>
