<header>
    <a href="/">
        <i class="material-icons">house</i>
        Top
    </a>
    <a href="/likes">
        <i class="material-icons">star</i>
        Likes
    </a>
    <a href="/bookmarks">
        <i class="material-icons">bookmark</i>
        Bookmarks
    </a>
    <div></div>
    <a href="https://twitter.com/miso_nomi" target="_blank">苦情窓口</a>
</header>
