<!doctype html>
<html>
  <head>
    <title>Shuffle Your Likes</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <link rel="stylesheet" type="text/css" href="static/header.css">
    <link rel="stylesheet" type="text/css" href="static/list.css">
  </head>
  <body>
    {{> header next}}
    <main>
      {{~#each tweets}}
        {{> tweet this}}
      {{/each}}
    </main>
  </body>
</html>
