<!doctype html>
<html>
  <head>
    <title>Twitter Likes Shuffler</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
  </head>
  <body>
    {{> header}}
    <main>
      <a class="button connect" href="authorize">Connect</a>
    </main>
    {{> footer}}
  </body>
</html>
