<!doctype html>
<html>
  <head>
    <title>Twitter Likes Shuffler</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="/static/header.css">
  </head>
  <body>
    {{> top_header}}
    <main>
      <div class="spacer"></div>
      <h2>Twitter Likes Shuffler</h2>
      <div>Twitterアカウントと接続すると, いいね欄とブックマーク欄をシャッフルしたものを見ることができます</div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <a class="button connect" href="authorize">
        <i class="material-icons">cable</i>
        Connect
        <i class="material-icons">cable</i>
      </a>
      <div class="spacer"></div>
      <div class="spacer"></div>
      {{#if error}}
        <div class="container error">
          <h3>何かがうまくいきませんでした</h3>
          <i class="material-icons">pest_control</i>
          <p class="reason">{{error}}</p>
          <p>もう一度接続し直してみてください</p>
        </div>
      {{else}}
        <div class="container info">
          <h3>詳しい説明</h3>
          <i class="material-icons">menu_book</i>
          <ul>
            <li>Connectを押してTwitterと接続するといいねリストに飛ばされます</li>
            <li>錨<i class="material-icons">anchor</i>をクリックすると元のツイートのページを開きます</li>
            <li>APIの仕様で新しい順に100件ずつしか取れないため, その100件をシャッフルして表示します</li>
            <li>時計<i class="material-icons">history</i>をクリックすると次の100件を取ってきてシャッフルします</li>
            <li>時計を追加<i class="material-icons">add</i><i class="material-icons">history</i>した後時計<i class="material-icons">history</i>をクリックすると時計の数分古いのが見れますが、時計が多いほど時間がかかります</li>
          </ul>
        </div>
      {{/if}}
    </main>
  </body>
</html>
